:root {
   --green: #27ae60;
   --black: #192a56;
   --light-color: #666;
   --fade-white: #eee;
   --white: #fff;
   --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.cart {
   padding: 2.5rem;
   background: #fff;
   border-radius: 0.5rem;
   border: 0.1rem solid rgba(0, 0, 0, 0.2);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   position: relative;
   overflow: hidden;
   text-align: left;
}
.cart p {
   color: var(--black);
   font-size: 1.5rem;
}

@media (max-width: 991px) {
   .cart {
      padding: 1.5rem;
   }
   .sm_card_details h5 {
      padding-left: 2px;
   }
}
