.card {
   padding-top: 10px;
   border-radius: 5px;
   background: blue;
   font-size: 1.5rem;
}
.card button {
   font-size: 1.5rem;
}
.fab,
.fas {
   cursor: pointer;
   margin-left: 0.5rem;
   height: 4.5rem;
   line-height: 4.5rem;
   width: 4.5rem;
   text-align: center;
   font-size: 1.7rem;
   color: var(--black);
   border-radius: 50%;
   background: #eee;
}
.fab:hover,
.fas:hover {
   color: #fff;
   background: var(--green);
   transform: rotate(360deg);
}
