:root {
   --green: #27ae60;
   --black: #192a56;
   --light-color: #666;
   --fade-white: #eee;
   --white: #fff;
   --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.card {
   padding: 2.5rem;
   background: #fff;
   border-radius: 0.5rem;
   border: 0.1rem solid rgba(0, 0, 0, 0.2);
   box-shadow: var(--box-shadow);
   position: relative;
   overflow: hidden;
   text-align: center;
}
.card p {
   color: var(--black);
   font-size: 1.5rem;
}
.card button {
   margin-top: 1rem;
   display: inline-block;
   font-size: 1.7rem;
   color: #fff;
   background: var(--black);
   border-radius: 0.5rem;
   cursor: pointer;
   padding: 0.8rem 3rem;
   font-weight: 500;
   letter-spacing: 2px;
   transition: all 0.01s linear;
}
.card button:hover {
   background: var(--green);
   letter-spacing: 0.1rem;
}
.fab,
.fas {
   cursor: pointer;
   margin-left: 0.5rem;
   height: 4.5rem;
   line-height: 4.5rem;
   width: 4.5rem;
   text-align: center;
   font-size: 1.7rem;
   color: var(--black);
   border-radius: 50%;
   background: #eee;
}
.fab:hover,
.fas:hover {
   color: #fff;
   background: var(--green);
   transform: rotate(360deg);
}
